.header {
  background-color: white;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  min-width: 600px;
}

.inputSearch{
  display: flex;
  align-items: center;
}

.footer {
   display: flex;
   align-items: center;
   justify-content: center;
}
.footer  div {
  margin-left: 15px;
}

.ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button {
  background: #06f;
  border-radius: 2rem;
}


