.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer div {
  margin-left: 15px;
}

.ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button {
  background: #06f;
  border-radius: 2rem;
}

.ant-layout-header {
  background-color: white;
}
