.container {
  background: #f0f0f0;
  height: 90vh;
  margin: 0 auto;
  position: relative;
}
.content-left {
  position: absolute;

  top: 3rem;
  left: 15rem;
  width: 50%;
}
.content-right {
  position: absolute;
  border: 1px solid black;
  width: 25%;
  top: 5.5rem;
  right: 15rem;
}
.content-left .everyday {
  height: 12rem;
  border-bottom: 1px solid rgba(227, 227, 227, 1);
}
.card-list{
    margin-top: 5rem;
    border-radius: 1rem;
}