:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-body: #cac2d0;
  --color-headings: #e7717d;
  --color-border: #ccc;
  --color-bg: #e7717d;
  --border-radius: 30px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  background: url("../../src/images/bg.jpg");
  position: relative;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.clearfix::after{
   content: "";
   display: table;
   clear: both;
}

/*Headers*/

/*Footers*/

/*Main */
