
.container {
    margin: 0 auto;
    display: flex;
    padding: 2.5rem;
    height: 100%;
  }
  
  .content-left {
   margin-left: 15rem;
    width: 50%;
  }
  .content-right {
    margin-top: 2.5rem;
    width: 25%;
  margin-left: 5rem;

  }
  .create-button{
     position: absolute;
     left: 3rem;
     border-radius: 2rem;
      top: 10rem;
  }