
.container {
    background: #f0f0f0;
    margin: 0 auto;
    display: flex;
    padding: 2.5rem;
  }
  
  .content-left {
   margin-left: 15rem;
    width: 50%;
  }
  .content-right {
    margin-top: 2.5rem;
    width: 25%;
  margin-left: 5rem;
  }
  