.commentbox{
     width: 100%;
     border: 1px dashed #69c0ff;
     border-radius: 2rem;
     overflow: hidden;
     padding: 1rem;
     display: inline-block;
}
.commentbox span{
    margin-left: 1rem;
}
.commentbox .avatar img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.avatarcontent{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.avatarcontent .reply{
    margin-right: 2rem;
}
.reply-children{
    margin-top: 1rem;
    margin-left:1rem;
    width: 90%;
}
.reply-button{

}