.header {
  width: 100%;
  height: 5rem;
  background-image:white;
  font-size: 2.1rem;
  display: flex;
  justify-content: space-between;
}
.header-nav {
  height: 100%;
  display: flex;
}
.header-nav li {
  font-size: 1.9rem;
  margin-right: 1.5rem;
  line-height: 5rem;
}
.header-nav li a {
  color: #8590a6;
}

.header-nav:first-child {
  margin-left: 15rem;
}

.searchbar {
  align-self: center;
  font-size: 1.5rem;
  margin-right: 15rem;
}

.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
  background: #06f;
  border-radius: 2rem;
}


