.hot{
    margin-top: 2rem;
    background: #bae7ff;
    border-radius: 1rem;
    padding: 1rem 3rem;
    font-size: 1.6rem;
   
}
.hot .hot-title{
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.hot .hot-content{
    margin-top: 1rem    ;
}