.hot{
    margin-top: 2rem;
    background:white;
    border-radius: 1rem;
    padding: 1rem 3rem;
    font-size: 1.6rem;
   
}
.hot .hot-title{

    color: #eb2f96;
}
.hot .hot-content{
    margin-top: 1rem    ;
}