.randomtag{
    border-radius: 0.5rem;
    background-color: #bae7ff;
    box-shadow: inset 0px -1px 1px  rgba(0,0,0,0.3);
    padding: 2rem;
    font-size: 1.6rem;
}
.randomtag .card-title{
    
    margin-bottom: 1rem;
}
.randomtag .card-content {
    
}