.blog-card{
    width: 100%;
    
    font-size: 1.6rem;
    line-height: 1.6rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 1.5rem;
}
.card-title{
    margin-bottom: 1.5rem;
    line-height: 1.8rem;
    width: 40rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.card-content{
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
    line-height: 2rem;
  
    margin-bottom: 1rem;
}
.card-img img{
    width: 19rem;
    height: 10.5rem;
    border-radius: 1rem;
    margin-right: 1.8rem;
}

.card-text .card-text-para{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.card-text .card-text-button{
    padding: 0;
    margin-left: 4px;
    color: #175199;
    height: auto;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
}
.card-action{
    padding: 1rem 0;
    font-size: 1.4rem;
   
}

.card-action button{
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    font-size: 1.4rem;
    cursor: pointer;
    border: none; 
    background-color: transparent;
    margin-right: 1rem;
}
.card-action >span{
    color: #8590a6;
    margin-right: 2rem;
}

.card-text{
    width: 100%;
}
/* table 样式 */
.card-text table {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
  .card-text table td,
  .card-text table th {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 3px 5px;
  }
  .card-text  table th {
    border-bottom: 2px solid #ccc;
    text-align: center;
  }
  
  /* blockquote 样式 */
  .card-text blockquote {
    display: block;
    border-left: 8px solid #d0e5f2;
    padding: 5px 10px;
    margin: 10px 0;
    line-height: 1.4;
    font-size: 100%;
    background-color: #f1f1f1;
  }
  
  /* code 样式 */
  .card-text code {
    display: inline-block;
    
    color: cornflowerblue;
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 0 3px;
  }
  .card-text  pre code {
    display: block;
  }
  
  /* ul ol 样式 */
  .card-text ul, ol {
    margin: 10px 0 10px 20px;
  }