.blog-card{
    width: 100%;
    height: 18.5rem;
    font-size: 1.8rem;
    line-height: 1.6rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 1.5rem;
}
.card-title{
    margin-bottom: 1.5rem;
}
.card-content{
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
    line-height: 2rem;
    height: 10.5rem;
    overflow: hidden;
    margin-bottom: 1rem;
}
.card-img img{
    width: 19rem;
    height: 10.5rem;
    border-radius: 1rem;
    margin-right: 1.8rem;
}
.card-action{
    padding: 1rem 0;
    font-size: 1.4rem; 
}

.card-action button{
    display: inline-block;
    text-align: center;
    background: none;
    border: 1px solid;
    border-radius: 3px;
    font-size: 1.4rem;
    margin-right: 2rem;
    cursor: pointer;
}
.card-action >span{
    color: #8590a6;
    margin-right: 2rem;
}